doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title タイトル
        link(href="/css/style.css", rel="stylesheet")
    body
        div#header
        div#navigation
        div#content
            h1 helloWorld!
        div#footer